* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

/* mobile styles */

.main-header {
  height: 85px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1100px;
  margin: auto;
}

.logo {
  height: 75px;
  position: absolute;
  left: 3%;
}

.hamburger {
  position: absolute;
  right: 3%;
}

.menu-items {
  display: none;
  width: 65%;
}

main {
  max-width: 1100px;
  margin: 0 auto;
}

.pic-info {
  background: url(./img/puppy-edited.jpg) center no-repeat;
  background-size: cover;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.intro {
  display: inline-block;
  width: 40%;
  margin: 0 2% 2% 2%;
  position: absolute;
  right: 0;
  color: white;
  background-color: rgba(166, 166, 166, 0.6);
  padding: 2%;
}

 /* styles at 600px min */

@media (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .menu-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 800px) {

  .pic-info {
    height: 400px;
  }
}
