* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
}

main {
  max-width: 1100px;
  min-width: 320px;
  margin: 0 auto;
}

footer {
    max-width: 1100px;
    margin:  30px auto 0;
}

/* mobile styles */

.main-header {
    border-bottom: 1px solid #bfbfbf;
    height: 85px;
    display: flex;
    position: relative;
    max-width: 1100px;
    margin: auto;
}

.logo {
    height: 75px;
    position: absolute;
    left: 3%;
    top: 6%
}

.request-refill {
    background-color: #fff;
    border: 1px solid #e21836;
    border-radius: 5px;
    height: 35px;
    font-size: 12px;
    left: 160px;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 100px;
}

.request-refill:link {
    color: black;
    text-decoration: none;
}

.request-refill:visited {
    color: black;
    text-decoration: none;
}

.request-refill:hover {
    color: black;
    text-decoration: none;
}

.request-refill:active {
    color: black;
    text-decoration: none;
}

#hamburger {
    position: absolute;
    right: 3%;
    top: 20%;
}

#burger-menu-items {
    background-color: white;
    text-align: right;
    padding: 0 20px;
    width: 100%;
}

#burger-menu-items a:link {
    margin: 1.5em 0;
    display: block;
    text-decoration: none;
    color: black;
}

#burger-menu-items a:visited {
    color: black;
}

#burger-menu-items a:active {
    color: #A70000;
}

.toggle-burger {
    display: none;
}

.menu-items {
    display: none;
    width: 65%;
    font-size: 1.1em;
}

.menu-items a:link {
    text-decoration: none;
    color: black;
}

.menu-items a:visited {
    text-decoration: none;
    color: black;
}

.menu-items a:hover {
    text-decoration: none;
    color: #A70000;
}

.menu-items a:active {
    text-decoration: none;
    color: #A70000;
}

.pic-info {
    background: url(./img/puppy-edited.jpg) center no-repeat;
    background-size: cover;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.intro {
    display: inline-block;
    width: 46%;
    margin: 2%;
    color: white;
    background-color: rgba(166, 166, 166, 0.6);
    padding: 2%;
    line-height: 1.1em;
    max-width: 390px;
}

.overview {
    display: flex;
    flex-direction: column;
}

.overview-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: .5px solid #bfbfbf;
}

.overview-item img {
    height: 70px;
    margin: 4% 10%;
}

.overview-link {
    padding-left: 5%;
}

.summary-title {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
}

.summary-text {
    display: none;
    max-width: 220px;
    border: .5px solid #bfbfbf;
    padding: 10px;
    font-size: 1em;
    color: black;
    text-decoration: none;
}

.emergency-info {
    background-color: #E21836;
    color: white;
    text-align: center;
    padding: 5px 20px;
    font-size: 1.2em;
}

.phone:link {
    color: #fff;
    font-weight: bold;
}

.phone:visited {
    color: #fff;
    font-weight: bold;
}

.phone:hover {
    color: #fff;
    font-weight: bold;
}

.phone:active {
    color: #fff;
    font-weight: bold;
}

.aaha-info {
    background-color: #B0B0B0;
    padding: 20px;
    text-align: center;
}

.aaha-logo {
    width: 200px;
}

.aaha-summary {
    border: solid 1px white;
    padding: 10px;
}

.copyright-address {
    background-color: #606060;
    color: white;
    font-size: .7em;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.services-description h1 {
    color: #e21836;
}

.services-description ul {
    display: inline-block;
    text-align: left;
    margin: 0 auto 20px;
}

.retriever {
    width: 230px;
}

.clinic-fullsize {
    width: 100%;
}

.contact-title {
    color: #e21836;
    text-align: center;
}

.details-container {
    padding: 0 20px;
}

.details h2 {
    color: green;
}

.contact-phone:link {
    color: black;
}

.contact-phone:visited {
    color: black;
}

.contact-phone:hover {
    color: black;
}

.contact-phone:active {
    color: black;
}

.facebook:link {
    color: green;
}

.facebook:visited {
    color: green;
}

.facebook:hover {
    color: green;
}

.facebook:active {
    color: green;
}


 /* styles at 600px min */

@media (min-width: 600px) {
    .request-refill {
        left: 173px;
    }
    #hamburger {
        display: none;
    }

    #burger-menu-items {
        display: none;
    }

    .menu-items {
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 0;
        padding-top: 30px;
    }

    .intro {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .overview {
        flex-direction: row;
        justify-content: space-around;
    }

    .overview a {
        text-decoration: none;
    }

    .overview-item {
        flex-direction: column;
        text-align: center;
        border: none;
    }

    .overview-item img {
        margin: 10%;
        height: 200px;
    }

    .overview-link {
        padding: 0;
    }

    .overview-link p {
    }

    .summary-text {
        display: inline-block;
    }

    .aaha-info {
        text-align: left;
    }

    .aaha-logo {
        display: inline-block;
    }

    .aaha-summary {
        display:inline-block;
        max-width: 60%;
        float: right;
        margin: 0 5% 0 auto;
    }

    .copyright-address {
        text-align: left;
    }

    .footer-copyright {
        display: inline-block;
    }

    .footer-address {
        display:inline-block;
        float: right;
    }

    .services-container {
        flex-direction: row;
        padding: 20px 80px;
    }

    .services-description {
        padding-top: 40px;
        width: 50%;
    }

    .retriever-container {
        text-align: right;
        width: 50%;
    }

    .retriever {
        width: 350px;
    }

    .details-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .details {
        width: 50%;
    }

    .map {
        width: 50%;
    }
  /*END OF 600 PX MEDIA QUERY*/
}

@media (min-width: 800px) {
    .request-refill {
        left: 190px;
    }

    .pic-info {
        height: 300px;
    }

    .aaha-summary {
        margin: 0 10% 0 auto;
    }
}
