* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
}

main {
  max-width: 1100px;
  min-width: 320px;
  margin: 0 auto;
}

footer {
    max-width: 1100px;
    margin:  30px auto 0;
}

/* mobile styles */

.main-header {
  height: 85px;
  display: flex;
  position: relative;
  max-width: 1100px;
  margin: auto;
}

.logo {
  height: 75px;
  position: absolute;
  left: 3%;
  top: 6%
}

#hamburger {
  position: absolute;
  right: 3%;
  top: 20%;
}

#burger-menu-items {
  background-color: white;
  text-align: right;
  padding: 0 20px;
  width: 100%;
}

#burger-menu-items a:link {
  margin: 1.5em 0;
  display: block;
  text-decoration: none;
  color: black;
}

#burger-menu-items a:visited {
    color: black;
}

#burger-menu-items a:active {
    color: #A70000;
}

.toggle-burger {
  display: none;
}

.menu-items {
  display: none;
  width: 65%;
  font-size: 1.1em;
}

.menu-items a:link {
    text-decoration: none;
    color: black;
}

.menu-items a:visited {
    text-decoration: none;
    color: black;
}

.menu-items a:hover {
    text-decoration: none;
    color: #A70000;
}

.menu-items a:active {
    text-decoration: none;
    color: #A70000;
}

.pic-info {
  background: url(./img/puppy-edited.jpg) center no-repeat;
  background-size: cover;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.intro {
  display: inline-block;
  width: 46%;
  margin: 2%;
  color: white;
  background-color: rgba(166, 166, 166, 0.6);
  padding: 2%;
  line-height: 1.1em;
  max-width: 390px;
}

.overview {
  display: flex;
  flex-direction: column;
}

.overview-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: .5px solid #bfbfbf;
}

.overview-item img {
  height: 70px;
  margin: 4% 10%;
}

.overview-link {
  padding-left: 5%;
}

.summary-title {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
}

.summary-text {
    display: none;
    max-width: 220px;
    border: .5px solid #bfbfbf;
    padding: 10px;
    font-size: 1em;
    color: black;
}

.emergency-info {
    background-color: #E21836;
    color: white;
    text-align: center;
    padding: 5px 20px;
    font-size: 1.2em;
}

.aaha-info {
    background-color: #B0B0B0;
    padding: 20px;
    text-align: center;
}

.aaha-logo {
    width: 200px;
}

.aaha-summary {
    border: solid 1px white;
    padding: 10px;
}

.copyright-address {
    background-color: #606060;
    color: white;
    font-size: .7em;
    margin: 0;
    padding: 5px;
    text-align: center;
}




 /* styles at 600px min */

@media (min-width: 600px) {
  #hamburger {
    display: none;
  }

  #burger-menu-items {
    display: none;
  }

  .menu-items {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    padding-top: 30px;
  }

  .intro {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .overview {
    flex-direction: row;
    justify-content: space-around;
  }

  .overview a {
      text-decoration: none;
  }

  .overview-item {
    flex-direction: column;
    text-align: center;
    border: none;
  }

  .overview-item img {
    margin: 10%;
    height: 200px;
  }

  .overview-link {
    padding: 0;
  }

  .overview-link p {
  }

  .summary-text {
      display: inline-block;
  }

  .aaha-info {
      text-align: left;
  }

  .aaha-logo {
      display: inline-block;
  }

  .aaha-summary {
      display:inline-block;
      max-width: 60%;
      float: right;
      margin: 0 5% 0 auto;
  }

  .copyright-address {
      text-align: left;
  }

  .footer-copyright {
      display: inline-block;
  }

  .footer-address {
      display:inline-block;
      float: right;
  }
  /*END OF 600 PX MEDIA QUERY*/
}

@media (min-width: 800px) {

  .pic-info {
    height: 300px;
  }

  .aaha-summary {
      margin: 0 10% 0 auto;
  }
}
