<section class="pic-info">
  <!-- picture of puppy -->
  <p class="intro">Country View Veterinary Hospital has been serving Utah County since 1996. We offer high-quality medical, dental, and surgical procedures for your pet. <br />Call or come in today!</p>
</section>
    <!-- SECTION OVERVIEW -->
<section class="overview">
    <!-- SERVICES OVERVIEW AND LINK -->
    <a href="#" ui-sref="services">
        <div class="overview-item">
          <img src="./img/cat-circle.png" />
          <div class="overview-link">
            <p class="summary-title">Services</p>
            <p class="summary-text">
                We're your complete small-animal medical, dental, and surgical center. We can also bring in specialists to provide your pet with the best care.
            </p>
          </div>
        </div>
    </a>
    <!-- OUR STAFF OVERVIEW AND LINK -->
    <a href="#" ui-sref="staff">
        <div class="overview-item">
          <img src="./img/Scott-Leiter-Circle.png" />
          <div class="overview-link">
            <p class="summary-title">Our Staff</p>
            <p class="summary-text">
                Our highly-trained staff has over 20 years of experience servicing small animals. Learn more about our veterinarians and veterinary technicians.
            </p>
          </div>
        </div>
    </a>
    <!-- CONTACT US OVERVIEW AND LINK -->
    <a href="#" ui-sref="contact">
        <div class="overview-item">
          <img src="./img/clinic-circle.png" />
          <div class="overview-link">
            <p class="summary-title">Contact Us</p>
            <p class="summary-text">
                We love making new friends--feel free to reach out to us by phone, e-mail, or stop by our clinic for a tour. You can also find us on Facebook!
            </p>
          </div>
        </div>
    </a>

</section>
