<section class="services-container">
    <div class="services-description">
        <h1 class="page-title">Services</h1>
        <p class="description">Country View Veterinary Hospital offers high-quality medical, dental, and surgical procedures for your pet. Our services include:</p>
        <ul class="services-list">
            <li>Vaccinations</li>
            <li>Examinations</li>
            <li>In-house Lab Work</li>
            <li>X-Rays - Digital CR</li>
            <li>Hospitalizations</li>
            <li>And much more!</li>
        </ul>
    </div>
    <div class="retriever-container">
        <img class="retriever" src="./img/Retriever-Circle.png" alt="Retriever"/>
    </div>
</section>
