<section class="staff-container">
    <h1 class="staff-title">Our Incredible Staff</h1>

    <div class="staff-info">
        <div class="staff-loop" ng-repeat="staff in staffArray">
            <div class="staff-img-container">
                <img class="staff-img" src="{{ staff.imgUrl }}" alt="{{ staff.name }}" />
            </div>
            <div class="bio-container">
                <h2 class="staff-name">{{ staff.name }}</h2>
                <p ng-repeat="par in staff.pars">{{ par }}</p>
            </div>
            <div class="staff-bottom-border"></div>
        </div>
    </div>
</section>
